<%= turbo_stream.replace "my_content" do %>
  <div id="my_content">
    <h1>Hello from Turbo!</h1>

    <%= javascript_tag nonce: true do %>
      console.log("Hello from JavaScript (turbo)!");
    <% end %>
  </div>
<% end %>
